


<div class="container">
  <h1><%= @article.title %></h1>
  <%= @article.content %> <br>
  <div id = "button1">
    <%= link_to 'Back to previous page', articles_path, class: "button" %>
  </div>
</div>

